/* src/app.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

  
  body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  a {
    color: var(--primary-color);
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    /* Adjustments for mobile responsiveness */
  }
  